
@{
    ViewBag.Title = "Home page";
}

@section AddToHead{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}
<img src="@ViewBag.imagepath" alt="Profile pic" style="width:100%" />

<div class="jumbotron">
    <div class="row">
        <div class="column">
            <h3 style="color:darkblue">Contact</h3>
            <br />
            <p> +20 115 543 1271</p>
            <br />
            <p> Atrifex@gmail.com</p>
        </div>

        <div class="column">
            <h3 style="color:darkblue">Services </h3>
            <br />
            <p> Contact Us</p>
            <br />
            <p> Ordering & Payment</p>
            <br />
            <p> Shipping</p>
            <br />
            <p> FAQ</p>
        </div>

        <div class="column">
            <h3 style="color:darkblue"> Information</h3>

            <br />
            <p> Work With Us</p>
            <br />
            <p> Privacy Policy</p>
            <br />
            <p> Terms & Conditions</p>
        </div>
    </div>
</div>



